<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./public/css/main.css">
</head>
<body ng-app="yike">
	<div class="viewport">
		<!-- 侧边导航 -->
		<div ng-class="{navs:true,collapse:head}">
			<dl ng-controller="navs">
				<dt class="login">
					<div class="avatar">
						<img src="./public/img/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
				<dd ng-class="{active:$index==num}" ng-repeat="a in navs">
					<a href="{{a.link}}" class="{{a.icon}}" ng-click="toggle()">
						<span>{{a.text}}</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true,collapse:head}" ng-controller="navs">
				<a href="javascript:;" class="menu icon-menu" ng-click="toggle()"></a>
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body:true,collapse:head}">
				<div ng-show="show">
					<!-- 动态加载图,获取数据时显示 -->
					<img src="public/img/timg.gif">
				</div>
				<div ng-view></div>
			</div>
		</div>
	</div>
	<!-- <script src="./public/js/toggle.js"></script> -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script  src="scrippt/app.js"></script>
	<script src="scrippt/controllers.js"> </script>
</body>
</html>